<%= simple_form_for(@ad) do |f| %>
<%= f.error_notification %>
<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<div class="form-inputs">
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :price_cents, input_html: { step: 0.5 } %>
  <%= f.select :price_currency,[["USD- US Dollars", "USD"],
  ["JPY- Japanese Yen", "JPY"],
  ["PHP - Philippine Peso", "PHP"],
  ["EUR - European Pound", "EUR"]] %>
</div>

<div class="form-actions">
  <%= f.button :submit %>
</div>
<% end %>
