<!------ Include the above in your HEAD tag ---------->
<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,800,900%7cRaleway:300,400,500,600,700" rel="stylesheet">
<body>
  <section class="blog-me pt-100 pb-100" id="blog">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 mx-auto text-center">
          <div class="section-title mb-100">
            <p><%= t "marketplace.title" %></p>
            <h4><%= t "marketplace.listing" %></h4>

            <p>****For debugging only****</p>

            <h5>User Details</h5>
            <h6>Country Name: <%= @country_name %></h6>
            <h6>Country Code: <%= @country_code %></h6>
              <h6>Country Code: <%= @country_code %></h6>
            <h6>City: <%= @city %></h6>
            <h6>Currency Code: <%= @currency_code %></h6>
            <h6>User Currency: <%= session[:currency] %></h6>
            <h6>Filtered Currency: <%= @filtered_currency %></h6>
            <p>-----</p>
            <h2>Location: <%= @location %></h2>
            <h2>Country: <%= @location.country %></h2>
            <h2>Country: <%= @location.country_code %></h2>
            <p>****************************</p>
          </div>
        </div>
      </div>
      <div class="row">
        <% @ads.each do |ad| %>
          <div class="col-lg-4 col-md-6">
            <!-- Single Blog -->
            <div class="single-blog">
              <div class="blog-img">
                <img src="http://infinityflamesoft.com/html/abal-preview/assets/img/blog/blog1.jpg" alt="">
                <div class="post-category">
                  <%= link_to ad.user.full_name.titleize, user_path(ad.user) %>
                </div>
              </div>
              <div class="blog-content">
                <div class="blog-title">
                  <h4><%= link_to ad.title.titleize, ad_path(ad) %></h4>
                </div>
                <p><%= truncate(ad.description, length: 75) %></p>

                <a href="#" class="box_btn"><%= converted_price(ad.price) %></a>

                <%= link_to new_ad_path, turbolinks: true, class: "dropdown-item blu" do %>
                <i class="fa fa-edit"></i> New Ad
              <% end %>

              <% if signed_in? and current_user == ad.user || current_user.admin? %>
                <%= link_to edit_ad_path(ad), turbolinks: true, class: "dropdown-item blu" do %>
                <i class="fa fa-edit"></i> Edit Ad
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
</section>
</body>
