<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= "#{t 'language_name'} #{EmojiFlag.new(I18n.locale)}" %></a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "English #{EmojiFlag.new('EN')}", url_for(locale: "en"), class: "dropdown-item" %>
          <%= link_to "Spanish #{EmojiFlag.new('ES')}", url_for(locale: "es"), class: "dropdown-item" %>
          <%= link_to "Japanese #{EmojiFlag.new('JA')}", url_for(locale: "ja"), class: "dropdown-item" %>
        </div>
      </li>
      <% unless request.env['PATH_INFO'].include? "login" %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= "#{Money.new(10, session[:currency]).symbol} #{session[:currency]}" %></a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= button_to "$ USD", { controller: "ads", action: "save_currency", currency: "USD" }, method: :post, class: "dropdown-item" %>
            <%= button_to "₱ PHP", { controller: "ads", action: "save_currency", currency: "PHP" }, method: :post, class: "dropdown-item" %>
            <%= button_to "¥ JPY", { controller: "ads", action: "save_currency", currency: "JPY" }, method: :post, class: "dropdown-item" %>
            <%= button_to "€ EUR", { controller: "ads", action: "save_currency", currency: "EUR" }, method: :post, class: "dropdown-item" %>
          </div>
        </li>
      <% end %>
    </ul>
    <div style="margin-right: 100px">
      <ul class=" navbar-nav ">
        <li class="nav-item dropdown dropdown-menu-left">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user.full_name.titleize %>
          </a>
        </li>
        <%= link_to "Log In", new_user_session_path, turbolinks: true, class: "btn btn-sm d-none d-lg-inline-block btn btn-outline-white ml-auto" %>
        <li class="nav-item d-sm-none">
          <%= link_to "Log In", new_user_session_path, turbolinks: true, class: "nav-link" %>
        </li>
        <%= link_to new_user_registration_path, turbolinks: true, class: "btn btn-sm d-none d-lg-inline-block btn-warning ml-auto" do %>
        Sign Up
      <% end %>
      <li class="nav-item d-sm-none">
        <%= link_to "Sign up", new_user_registration_path, turbolinks: true, class: " nav-link" %>
      </li>
    </ul>
  </div>
</ul>
</div>
</nav>
